<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title> Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card-header>
  <ion-card-title>If your a fan your in the rigth place</ion-card-title>
</ion-card-header>

<ion-card-content>
  Earlier this year, Rick and Morty expanded its already limitless multiverse
  even further with an anime short called Samurai & Shogun. Produced by Japanese
  studio Deen Digital, the episode was officially promoted by Adult Swim, which
  led us to wonder how new efforts like this could impact the main Rick and
  Morty show moving forward. What we didn't expect was a second anime episode
  which confirms some major fan theories while forever changing how we perceive
  Rick and Morty in the process. It really doesn't get more schwifty than that.
  The short in question was developed by Deen Digital once again, this time with
  Tower of God's Takashi Sano on directing and screenwriting duties. Rick and
  Morty vs Genocider might only be just over eight minutes long, but it packs
  more pearl-clutching moments into its runtime than perhaps any other episode
  yet. Check the anime out below in its entirety, and then stop for a moment to
  take it all in.
</ion-card-content>
